[user]
	name = axzilla
	email = hello@axeladrian.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
    helper = osxkeychain
[init]
	defaultBranch = main
